html {
    width: 100%
}
body {
    margin: 50;
    padding: 30;
    font-family: 'Open Sans', sans-serif;
    background: url(http://subtlepatterns.com/patterns/wood_pattern.png);
}

h2 {
    padding: 0 15px;
}
.wrapper {
    padding: 0 15px;
}
.container-map {
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div#map {
    height: 76vh;
    width: 80vw;
    padding: 0 15px;
    border-radius: 4px;
    border: 1px solid grey;
    box-shadow: 10px 10px 5px #888;
    order: 1;
}

#slider {
    margin-top: 35px;
    margin-left: 15px;
    align-self: stretch;
}

div#datepicker {
    padding: 0 15px;
    order: 2;
}